#todayframe{
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #333;
	height: 520px;
	width: 300px;
	margin:10px;
	border: 2px solid #ccc;
	color:#ccc;
}

#forcastframe{
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #333;
	border: 2px solid #ccc;
	height: 250px;
	width: 840px;
	margin:10px;
	color:#ccc;
}	

#left{
	clear:left;
	float:left;
}

#right{
	clear:right;
	float:left;
}

#weathercontent{
	margin-left:auto;
	margin-right:auto;
	width:1200px;
}

#currentweathertable{
	font-size:20px;
}

#forcasttable{
	margin-left:auto;
	margin-right:auto; 
	text-align:center; 
	padding-top:5px;
}

#cur_location,#cur_icon,#cur_weather{
	text-align:center;
}

#chart_container{
	width:870px;
	height:300px;
}

#btn-grab-weather{
	background: -moz-linear-gradient(center top , #B0E0E6, #6495ED);
	background: -webkit-gradient(linear, left top, left bottom, from(#B0E0E6), to(#6495ED));
	border: 1px solid #4169E1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color: #4169E1;
	font-size: 14px;
	font-weight: bold;
	height: 37px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	width: 100px;
	cursor: pointer;
}

.messageBox {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	border: 5px solid #ddd;
	color:#000;
	width:300px;
	padding:10px;
	text-align:center;
	position: absolute;
	z-index:999;
	top: 80%;
    left: 50%;
    margin-left: -150px;
    font-family: sans-serif;
	display:none;
}

table{
	margin-left:auto;
	margin-right:auto;
	font-family: sans-serif;
	padding:10px;
}

input {
	margin-left:10px;
	padding: 5px;
	height: 25px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-transition: .3s ease-in-out;
  	-moz-transition: .3s ease-in-out;
  	color:#a9a9a9;
}

	input:focus{
		border: 1px solid #fafafa;
		-webkit-box-shadow: 0px 0px 4px #007eff;
		-moz-box-shadow: 0px 0px 3px #007eff;
		box-shadow: 0px 0px 3px #007eff;
		color:#000;
	}

img{
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #ccc;
}